:root {
    --customGray:#36393F;
    --customBlue:#7785cc;
    --customLightBlue:#99aab5;
}

body {
    background-color: var(--customGray);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}





#titleDiv {
    background-color:var(--customBlue) ;
    margin:50px;
    border-radius: 30px;
    padding-bottom: 1px;
}

#settingsTitle {
    font-size: 20px;
}



#title, #subtitle {
    text-align: center;
}

#title {
    font-size: 50px;
    margin-bottom: 0;
}

#subtitle {
    font: size 25px;
    margin-bottom:20px;
}


#main {
    margin:50px;
    display: grid;
    grid-template-columns: 50% 50%; 
    height: 100vh; 

}

#settingsTitleDiv p, #toggleMicButton p  {
    display:inline-block;
    vertical-align: middle;
}
#toggleMicButton {
    border-radius:10px;
    border: solid var(--customBlue) 1px;
    width:200px;
    margin:auto;
    margin-top:50px;
    transition: .2s;
}



#toggleMicButton:hover, .instrumentTypeButton:hover,.button:hover  {
    background-color: var(--customBlue) !important;
    cursor:pointer;
}

#instrumentChords p {
    background-color: var(--customLightBlue);
    padding:10px;
    border-radius: 10px;
}
#instrumentChords span {
    display:block;
}

#leftDiv {
    padding-right:30px;
}

#leftDiv div {
    text-align: center;
}

#toneRefInput {
    flex: 1; 
    min-width: 0; 

}

#toneRefDiv {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px; 

}





.instrumentTypeButton {
    display:inline-block;
    margin:20px;
    padding:10px;
    border-radius:10px;
    border: solid var(--customBlue) 1px;
    transition: .2s;
}


.instrumentTypeButton.selected {
    background-color: var(--customBlue);
}






#tuneBar {
    width:100%;
    height:30px;
    background-color: white;
    margin:auto;
    border-radius: 20px;
    display:block;
    position:relative;


}

#tuneIndicator {
    position:relative;
    width:10px;
    height:100%;
    background-color: red;

}

#chordIndicator {
    font-size: 80px;
    margin:0;
}
#scaleIndicator {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;           
    text-align: center;
}

#scaleIndicator span {
    flex: 1;              
    text-align: center;  
}

#debugButton {
    position:absolute;
    bottom:0;
    left:0;
}

#debugDiv {
    display:none;
}


.button{
    border: solid var(--customBlue) 1px;
    background-color: transparent !important;
    transition: .2s;

}